<h1 class="title">Progress Bar</h1>
<div class="progress-container">
  <div class="progress-content">
    <mat-progress-bar [value]="loadingPercent" color="primary"></mat-progress-bar>
    <mat-progress-bar [value]="loadingPercent" color="accent"></mat-progress-bar>
    <mat-progress-bar [value]="loadingPercent" color="warn"></mat-progress-bar>
  </div>
</div>

<h2 class="title">Loading - Waiting Case</h2>
<div class="progress-container">
  <div class="progress-content">
    <mat-progress-bar 
      color="primary"
      [value]="loadingWaitPercent"
      [mode]="mode"
    >
    </mat-progress-bar>
  </div>
</div>

<h3 class="title">Buffer</h3>
<div class="progress-container">
  <div class="progress-content">
    <mat-progress-bar
      color="accent"
      mode="buffer"
      [value]="loadingValueBuffer"
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </div>
</div>

<h3 class="title">Spinners</h3>
<div class="progress-container">
  <div class="progress-content">
    <mat-spinner
      color="primary">
    </mat-spinner>
    <mat-progress-spinner
      color="warn"
      [value]="loadingPercent"
      >
    </mat-progress-spinner>
  </div>
</div>
