.progress-container {
  display: grid;
  max-width: 640px;
  margin: 40px auto;

  .progress-content {
    display: grid;
    gap: 20px;
  }
  
  .title {
    font-size: 1.80rem;
    font-weight: 500;
  }
}
